#home-welcoming {
  font-family: Nunito;
  padding-top: 150px;
  padding-bottom: 100px;
  background: url(../media/images/backgrounds/header-bg.svg) top left no-repeat; }
  #home-welcoming .config {
    overflow: hidden;
    margin: 6px; }
  #home-welcoming .first-picture-div,
  #home-welcoming .second-picture-div,
  #home-welcoming .third-picture-div,
  #home-welcoming .fourth-picture-div {
    border-radius: 5px; }
    #home-welcoming .first-picture-div:hover img,
    #home-welcoming .second-picture-div:hover img,
    #home-welcoming .third-picture-div:hover img,
    #home-welcoming .fourth-picture-div:hover img {
      transform: scale(1.1); }
  #home-welcoming .cart-first-image,
  #home-welcoming .cart-second-image,
  #home-welcoming .cart-third-image,
  #home-welcoming .cart-fourth-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s; }
  #home-welcoming .first-picture-div {
    width: 100%;
    height: 332px;
    margin-bottom: 9px;
    overflow: hidden; }
  #home-welcoming .second-picture-div {
    margin-bottom: 9px;
    width: 100%;
    height: 251px;
    overflow: hidden; }
  #home-welcoming .third-picture-div {
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative; }
    #home-welcoming .third-picture-div .play {
      position: absolute;
      width: 100%;
      top: 48%;
      left: 0px;
      transform: perspective(1px) translateY(-45%);
      z-index: 4;
      right: 0px; }
      #home-welcoming .third-picture-div .play a {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 22px;
        color: #fff;
        margin: auto;
        left: 0px;
        right: 0px;
        display: block;
        border: 1px solid #fff;
        border-radius: 100px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        z-index: 3; }
        #home-welcoming .third-picture-div .play a::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          background: #fff;
          opacity: .25;
          z-index: 1; }
        #home-welcoming .third-picture-div .play a i {
          padding-left: 5px;
          position: relative;
          z-index: 2; }
        #home-welcoming .third-picture-div .play a:hover .cart {
          transform: scale(1.1); }
  #home-welcoming .fourth-picture-div {
    overflow: hidden;
    width: 100%;
    height: 281px;
    position: relative; }
    #home-welcoming .fourth-picture-div .overlay {
      position: absolute;
      background-color: #585de9bf;
      z-index: 20;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      #home-welcoming .fourth-picture-div .overlay .text {
        margin: 0 15px; }
        #home-welcoming .fourth-picture-div .overlay .text strong {
          display: block;
          color: #fff;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: 0.88px;
          margin-bottom: 10px; }
        #home-welcoming .fourth-picture-div .overlay .text p {
          display: block;
          color: #fff;
          font-weight: 300;
          font-size: 18px;
          letter-spacing: 1.12px;
          line-height: 28px;
          margin-bottom: 0px;
          padding-bottom: 0px; }
  #home-welcoming .welcoming-head-content h1 {
    font-weight: 300;
    font-size: 28px;
    color: #1E3056;
    line-height: 46px;
    letter-spacing: 0.93px;
    margin-bottom: 20px; }
    #home-welcoming .welcoming-head-content h1 span {
      color: #585CE9; }
  #home-welcoming .welcoming-text-content {
    position: relative; }
    #home-welcoming .welcoming-text-content p {
      font-weight: 300;
      font-size: 16px;
      color: #697BA2;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 40px; }
  #home-welcoming .learn-more-button {
    width: 170px;
    margin: auto;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #585CE9;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s; }
    #home-welcoming .learn-more-button:hover {
      background: #4146e6; }

#home-square-cards {
  padding-bottom: 70px; }
  #home-square-cards .square-card {
    box-shadow: rgba(17, 12, 46, 0.075) 0px 48px 100px 0px;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    transition: all 0.8s ease 0s;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    transform: translateY(100px);
    opacity: 0; }
    #home-square-cards .square-card:hover {
      background-color: #585CE9; }
      #home-square-cards .square-card:hover h5,
      #home-square-cards .square-card:hover p {
        color: #fff; }
    #home-square-cards .square-card .card-icon {
      text-align: center;
      width: 67px;
      height: 67px;
      line-height: 70px;
      margin: auto;
      position: relative;
      margin-bottom: 20px;
      background: #F7FAFD;
      border-radius: 50%; }
      #home-square-cards .square-card .card-icon i {
        font-size: 18px;
        color: #585CE9; }
    #home-square-cards .square-card h5 {
      font-family: Nunito;
      font-weight: 300;
      font-size: 16px;
      color: #3B566E;
      letter-spacing: 0.7px;
      margin-bottom: 15px;
      position: relative;
      z-index: 2;
      transition: all 0.3s ease 0s; }
    #home-square-cards .square-card p {
      font-family: Nunito;
      font-weight: 300;
      font-size: 14px;
      color: #6F8BA4;
      letter-spacing: 0.88px;
      line-height: 26px;
      position: relative;
      z-index: 2;
      transition: all 0.3s ease 0s;
      margin-bottom: 0px; }

#home-features {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Nunito; }
  #home-features .features-content h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    height: 45px;
    margin-bottom: 10px; }
  #home-features .features-content p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px; }
  #home-features .features-directions .direction-button:hover::after {
    height: 120px;
    background: #585CE9; }
  #home-features .features-directions .direction-button:hover i {
    color: #fff;
    margin-left: 30px; }
  #home-features .features-directions .directions {
    padding-right: 15px; }
  #home-features .features-directions #padding-remover {
    padding-left: 0; }
  #home-features .features-directions .direction-button {
    position: relative;
    width: 100%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.88px;
    outline: none;
    overflow: hidden; }
    #home-features .features-directions .direction-button::after {
      content: '';
      width: 150px;
      position: absolute;
      height: 100px;
      left: -70px;
      top: 0px;
      background: #F7FAFD;
      transform: rotate(60deg);
      transition: all 0.3s ease 0s; }
    #home-features .features-directions .direction-button i {
      color: black;
      margin-left: 25px;
      margin-right: 37px;
      z-index: 2;
      transition: all 0.3s ease 0s;
      position: relative; }
    #home-features .features-directions .direction-button span {
      z-index: 2;
      transition: all 0.3s ease 0s;
      color: #3B566E; }
  #home-features #cloud-image {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 0.8s ease 0s; }
  #home-features .clouds {
    max-width: 100%;
    min-width: 100%;
    height: auto; }

@media only screen and (max-width: 992px) {
  .clouds {
    max-width: 100%; } }

#home-features-part-2 {
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Nunito; }
  #home-features-part-2 .features-content h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    height: 45px;
    margin-bottom: 10px; }
  #home-features-part-2 .features-content p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px; }
  #home-features-part-2 .features-directions .direction-button:hover::after {
    height: 120px;
    background: #585CE9; }
  #home-features-part-2 .features-directions .direction-button:hover i {
    color: #fff;
    margin-left: 30px; }
  #home-features-part-2 .features-directions .directions {
    padding-right: 15px; }
  #home-features-part-2 .features-directions #padding-remover {
    padding-left: 0; }
  #home-features-part-2 .features-directions .direction-button {
    position: relative;
    width: 100%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.88px;
    outline: none;
    overflow: hidden; }
    #home-features-part-2 .features-directions .direction-button::after {
      content: '';
      width: 150px;
      position: absolute;
      height: 100px;
      left: -70px;
      top: 0px;
      background: #F7FAFD;
      transform: rotate(60deg);
      transition: all 0.3s ease 0s; }
    #home-features-part-2 .features-directions .direction-button i {
      color: black;
      margin-left: 25px;
      margin-right: 37px;
      z-index: 2;
      transition: all 0.3s ease 0s;
      position: relative; }
    #home-features-part-2 .features-directions .direction-button span {
      z-index: 2;
      transition: all 0.3s ease 0s;
      color: #3B566E; }
  #home-features-part-2 #cloud-image-part-2 {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 0.8s ease 0s; }
  #home-features-part-2 .clouds {
    max-width: 100%;
    min-width: 100%;
    height: auto; }

@media only screen and (max-width: 992px) {
  .clouds {
    max-width: 100%;
    margin-bottom: 25px; }
  .features-content h2 {
    margin-bottom: 35px !important; } }

#home-overlay-section .container-fluid {
  background-image: url(../media/images/backgrounds/parallax.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  #home-overlay-section .container-fluid .counter-item {
    margin: 90px;
    position: static;
    z-index: 400;
    transition: 0.3s; }
    #home-overlay-section .container-fluid .counter-item:hover {
      transform: translateY(-10px); }
    #home-overlay-section .container-fluid .counter-item h2 {
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      color: #fff;
      position: relative;
      transition: all 0.3s ease 0s;
      margin-bottom: 30px; }
      #home-overlay-section .container-fluid .counter-item h2::before {
        content: '';
        position: absolute;
        left: -15px;
        right: 0px;
        top: 55px;
        margin: auto;
        width: 115px;
        height: 1px;
        border-top: 1px dashed #fff; }
    #home-overlay-section .container-fluid .counter-item p {
      color: #fff;
      font-weight: 300;
      font-size: 20px;
      text-align: center; }

#home-overlay-section .overlay {
  position: absolute;
  background-color: #585de9bf;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#home-our-teams {
  padding-bottom: 80px;
  padding-top: 100px; }
  #home-our-teams .content-header h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  #home-our-teams .content-header p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  #home-our-teams .card-col {
    margin-bottom: 70px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease 0s; }
  #home-our-teams .card {
    box-shadow: rgba(100, 100, 111, 0.13) 0px 7px 29px 0px;
    border-radius: 5px;
    position: relative;
    margin: 12px; }
    #home-our-teams .card .card-body {
      text-align: center;
      overflow: hidden; }
      #home-our-teams .card .card-body .personal-info {
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px; }
        #home-our-teams .card .card-body .personal-info::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
          height: 68px;
          transition: all 0.4s ease 0s;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
      #home-our-teams .card .card-body .text-content {
        font-weight: 300;
        font-size: 14px;
        color: #6F8BA4;
        letter-spacing: 1px;
        line-height: 26px;
        margin-bottom: 60px; }
      #home-our-teams .card .card-body .name {
        font-size: 16px;
        color: #fff;
        margin-top: 5px;
        font-weight: 300;
        position: relative; }
      #home-our-teams .card .card-body .job {
        position: relative;
        font-weight: 300;
        font-size: 12px;
        color: #E5E9F7; }
    #home-our-teams .card .social {
      margin-bottom: 15px; }
    #home-our-teams .card .social-icons {
      position: relative; }
      #home-our-teams .card .social-icons a {
        color: #585CE9;
        transition: all 0.4s ease 0s; }
    #home-our-teams .card .col-10 {
      margin: 0 auto; }
    #home-our-teams .card .person {
      width: 96px;
      height: 96px;
      border: 6px solid #fff;
      overflow: hidden;
      border-radius: 100%;
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      bottom: -45px;
      transition: all 0.4s ease 0s;
      box-shadow: rgba(100, 100, 111, 0.13) 0px 7px 29px 0px; }
    #home-our-teams .card:hover .personal-info::before {
      height: 125px; }
    #home-our-teams .card:hover .social-icons a {
      color: white; }
    #home-our-teams .card:hover .person {
      bottom: -55px; }

#home-pricing-plan {
  padding-bottom: 80px;
  padding-top: 100px;
  background: #F7FAFD; }
  #home-pricing-plan .content-header h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  #home-pricing-plan .content-header p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  #home-pricing-plan .pricing-card {
    box-shadow: rgba(100, 100, 111, 0.13) 0px 7px 29px 0px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 15px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.8s ease 0s; }
    #home-pricing-plan .pricing-card .card-header {
      border-bottom: 1px solid #F7FAFD;
      height: 130px;
      position: relative; }
      #home-pricing-plan .pricing-card .card-header h3 {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1px;
        color: #3B566E; }
    #home-pricing-plan .pricing-card .card-body {
      margin-bottom: 40px; }
      #home-pricing-plan .pricing-card .card-body .order {
        width: 42px;
        height: 42px;
        background: #F7FAFD;
        position: relative;
        border-radius: 50%;
        bottom: 21px; }
        #home-pricing-plan .pricing-card .card-body .order span {
          font-weight: 400;
          font-size: 16px;
          color: #585CE9; }
      #home-pricing-plan .pricing-card .card-body .price-about {
        margin-top: 40px;
        margin-bottom: 30px; }
        #home-pricing-plan .pricing-card .card-body .price-about sup {
          font-weight: 600;
          font-size: 20px;
          color: #585CE9; }
        #home-pricing-plan .pricing-card .card-body .price-about .price {
          font-weight: 600;
          font-size: 34px;
          color: #585CE9; }
        #home-pricing-plan .pricing-card .card-body .price-about .sub {
          font-weight: 600;
          font-size: 14px;
          color: #585CE9; }
      #home-pricing-plan .pricing-card .card-body .card-about li {
        text-align: center;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 1px;
        color: #3B566E; }
      #home-pricing-plan .pricing-card .card-body .card-about .del {
        text-decoration: line-through;
        color: #CCDCEA; }
    #home-pricing-plan .pricing-card .card-footer a {
      width: 160px;
      line-height: 44px;
      text-align: center;
      border-radius: 5px;
      background: #585CE9;
      margin-bottom: 40px;
      font-weight: 600;
      font-size: 12px;
      color: #fff;
      letter-spacing: 1px;
      transition: all 0.3s ease 0s; }
      #home-pricing-plan .pricing-card .card-footer a:hover {
        background: #4146e6; }

@media only screen and (max-width: 992px) {
  .pricing-cards:nth-child(3) {
    margin: 0 auto; } }

#home-overlay-second .container-fluid {
  background-image: url(../media/images/backgrounds/parallax.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

#home-overlay-second .overlay {
  position: absolute;
  background-color: #585de9bf;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#home-overlay-second .info {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 20;
  margin-top: 70px;
  margin-bottom: 80px; }
  #home-overlay-second .info p {
    letter-spacing: 1px;
    margin-bottom: 40px; }
    #home-overlay-second .info p span {
      text-decoration: underline; }
  #home-overlay-second .info a {
    padding: 15px 44px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    color: #585CE9;
    letter-spacing: 1px;
    transition: all 0.2s; }
    #home-overlay-second .info a:hover {
      color: #0056b3; }

#home-latest-blog {
  padding-bottom: 100px;
  padding-top: 100px; }
  #home-latest-blog .blog-cards {
    padding: 15px; }
  #home-latest-blog .content-header h2 {
    font-weight: 200;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  #home-latest-blog .content-header p {
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  #home-latest-blog .blog-card .card-image {
    margin-bottom: 10px; }
    #home-latest-blog .blog-card .card-image img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px; }
  #home-latest-blog .blog-card .card-body {
    text-align: center; }
    #home-latest-blog .blog-card .card-body h3 {
      margin-bottom: 10px; }
      #home-latest-blog .blog-card .card-body h3 a {
        font-weight: 400;
        font-size: 16px;
        color: #3B566E;
        letter-spacing: 1px;
        line-height: 26px;
        transition: all 0.2s; }
        #home-latest-blog .blog-card .card-body h3 a:hover {
          color: #585CE9; }
    #home-latest-blog .blog-card .card-body p {
      font-weight: 400;
      font-size: 14px;
      color: #6F8BA4;
      letter-spacing: 1px;
      line-height: 26px;
      margin-bottom: 25px; }

@media only screen and (max-width: 992px) {
  .blog-cards:nth-child(3) {
    margin: 0 auto; } }

.nav {
  background: #fff;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

#about-welcoming {
  padding-top: 80px; }
  #about-welcoming .about-us {
    padding-top: 90px;
    padding-bottom: 90px; }
  #about-welcoming .container-fluid {
    background-image: url(../media/images/backgrounds/2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    #about-welcoming .container-fluid h1 {
      font-weight: 400;
      font-size: 36px;
      height: 50px;
      line-height: 46px;
      letter-spacing: 1.4px;
      color: #E5E9F7;
      position: relative;
      z-index: 30;
      margin-bottom: 10px; }
      #about-welcoming .container-fluid h1::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 19px;
        height: 2px;
        background: #fff;
        border-radius: 100px; }
    #about-welcoming .container-fluid span {
      font-weight: 300;
      font-size: 14px;
      color: #E5E9F7;
      margin-left: 10px;
      position: relative;
      z-index: 30;
      cursor: pointer; }
      #about-welcoming .container-fluid span a {
        font-weight: 300;
        font-size: 14px;
        color: #E5E9F7; }
        #about-welcoming .container-fluid span a i {
          margin-left: 5px;
          transform: translateY(1.5px); }
  #about-welcoming .overlay {
    position: absolute;
    background-color: #585de9bf;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#about-help {
  padding-top: 100px;
  padding-bottom: 80px;
  background: #F7FAFD; }
  #about-help .content-header h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 2px;
    margin-bottom: 20px; }
  #about-help .content-header p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 30px; }
  #about-help .square-card {
    box-shadow: rgba(17, 12, 46, 0.075) 0px 48px 100px 0px;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    transition: all 0.8s ease 0s;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    transform: translateY(100px);
    opacity: 0; }
    #about-help .square-card:hover {
      background-color: #585CE9; }
      #about-help .square-card:hover h5,
      #about-help .square-card:hover p {
        color: #fff; }
    #about-help .square-card .card-icon {
      text-align: center;
      width: 67px;
      height: 67px;
      line-height: 70px;
      margin: auto;
      position: relative;
      margin-bottom: 20px;
      background: #F7FAFD;
      border-radius: 50%; }
      #about-help .square-card .card-icon i {
        font-size: 18px;
        color: #585CE9; }
    #about-help .square-card h5 {
      font-family: Nunito;
      font-weight: 300;
      font-size: 16px;
      color: #3B566E;
      letter-spacing: 0.7px;
      margin-bottom: 15px;
      position: relative;
      z-index: 2;
      transition: all 0.3s ease 0s; }
    #about-help .square-card p {
      font-family: Nunito;
      font-weight: 300;
      font-size: 14px;
      color: #6F8BA4;
      letter-spacing: 0.88px;
      line-height: 26px;
      position: relative;
      z-index: 2;
      transition: all 0.3s ease 0s;
      margin-bottom: 0px; }

#about-our-missions {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 80px; }
  #about-our-missions .place {
    position: relative; }
  #about-our-missions .image {
    width: 70%;
    overflow: hidden;
    height: 531px;
    border-radius: 7px; }
    #about-our-missions .image img {
      transition: all 0.4s;
      width: 100%;
      height: 100%; }
    #about-our-missions .image:hover img {
      transform: scale(1.15); }
  #about-our-missions .content {
    width: 40%;
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 5px; }
    #about-our-missions .content h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 38px;
      letter-spacing: 1.75px;
      color: #3B566E;
      margin-bottom: 20px; }
    #about-our-missions .content p {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 20px;
      color: #6F8BA4; }

@media only screen and (max-width: 992px) {
  #about-our-missions .place {
    display: unset; }
    #about-our-missions .place .content {
      position: static;
      width: 100%;
      margin-top: 30px; }
    #about-our-missions .place .image {
      width: 100%;
      height: 100%; } }

#about-overlay .container-fluid {
  background-image: url(../media/images/backgrounds/parallax.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

#about-overlay .overlay {
  position: absolute;
  background-color: #585de9bf;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#about-overlay .info {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 20;
  margin-top: 70px;
  margin-bottom: 80px; }
  #about-overlay .info p {
    letter-spacing: 1px;
    margin-bottom: 40px; }
    #about-overlay .info p span {
      text-decoration: underline; }
  #about-overlay .info a {
    padding: 15px 44px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    color: #585CE9;
    letter-spacing: 1px;
    transition: all 0.2s; }
    #about-overlay .info a:hover {
      color: #0056b3; }

#about-our-vision {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 80px; }
  #about-our-vision .place {
    position: relative;
    flex-direction: row-reverse; }
  #about-our-vision .image {
    width: 70%;
    overflow: hidden;
    height: 531px;
    border-radius: 7px; }
    #about-our-vision .image img {
      transition: all 0.4s;
      width: 100%;
      height: 100%; }
    #about-our-vision .image:hover img {
      transform: scale(1.15); }
  #about-our-vision .content {
    width: 40%;
    position: absolute;
    left: 0;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 5px; }
    #about-our-vision .content h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 38px;
      letter-spacing: 1.75px;
      color: #3B566E;
      margin-bottom: 20px; }
    #about-our-vision .content p {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 20px;
      color: #6F8BA4; }

@media only screen and (max-width: 992px) {
  #about-our-vision .place {
    display: unset; }
    #about-our-vision .place .content {
      position: static;
      width: 100%;
      margin-top: 30px; }
    #about-our-vision .place .image {
      width: 100%;
      height: 100%; } }

.nav {
  background: #fff;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

#features-welcoming {
  padding-top: 80px; }
  #features-welcoming .about-us {
    padding-top: 90px;
    padding-bottom: 90px; }
  #features-welcoming .container-fluid {
    background-image: url(../media/images/backgrounds/2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    #features-welcoming .container-fluid h1 {
      font-weight: 400;
      font-size: 36px;
      height: 50px;
      line-height: 46px;
      letter-spacing: 1.4px;
      color: #E5E9F7;
      position: relative;
      z-index: 30;
      margin-bottom: 10px; }
      #features-welcoming .container-fluid h1::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 19px;
        height: 2px;
        background: #fff;
        border-radius: 100px; }
    #features-welcoming .container-fluid span {
      font-weight: 300;
      font-size: 14px;
      color: #E5E9F7;
      margin-left: 10px;
      position: relative;
      z-index: 30;
      cursor: pointer; }
      #features-welcoming .container-fluid span a {
        font-weight: 300;
        font-size: 14px;
        color: #E5E9F7; }
        #features-welcoming .container-fluid span a i {
          margin-left: 5px;
          transform: translateY(1.5px); }
  #features-welcoming .overlay {
    position: absolute;
    background-color: #585de9bf;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#features-content-card {
  padding-top: 100px;
  padding-bottom: 70px;
  background: #F7FAFD; }
  #features-content-card .content-cards {
    padding: 15px; }
  #features-content-card .content-card {
    box-shadow: rgba(17, 12, 46, 0.075) 0px 48px 100px 0px;
    padding: 30px;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 30px; }
    #features-content-card .content-card:hover .card-image::before {
      transform: rotate(45deg); }
    #features-content-card .content-card .card-image {
      position: relative;
      height: 166px; }
      #features-content-card .content-card .card-image img {
        z-index: 100;
        position: relative; }
      #features-content-card .content-card .card-image::before {
        content: '';
        position: absolute;
        width: 133px;
        height: 133px;
        background: #F7FAFD;
        border-radius: 5px;
        transition: all 0.3s ease 0s; }
    #features-content-card .content-card .card-content {
      padding-left: 30px; }
      #features-content-card .content-card .card-content h5 {
        font-weight: 300;
        font-size: 18px;
        color: #3B566E;
        margin-bottom: 15px;
        letter-spacing: 1px; }
      #features-content-card .content-card .card-content p {
        font-weight: 300;
        font-size: 14px;
        color: #6F8BA4;
        letter-spacing: 1px; }

@media only screen and (max-width: 768px) {
  #features-content-card .content-card {
    text-align: center; }
    #features-content-card .content-card .card-content {
      padding-left: 0; } }

#features-counter .container-fluid {
  background-image: url(../media/images/backgrounds/parallax.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  #features-counter .container-fluid .counter-item {
    margin: 90px;
    position: static;
    z-index: 400;
    transition: 0.3s; }
    #features-counter .container-fluid .counter-item:hover {
      transform: translateY(-10px); }
    #features-counter .container-fluid .counter-item h2 {
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      color: #fff;
      position: relative;
      transition: all 0.3s ease 0s;
      margin-bottom: 30px; }
      #features-counter .container-fluid .counter-item h2::before {
        content: '';
        position: absolute;
        left: -15px;
        right: 0px;
        top: 55px;
        margin: auto;
        width: 115px;
        height: 1px;
        border-top: 1px dashed #fff; }
    #features-counter .container-fluid .counter-item p {
      color: #fff;
      font-weight: 300;
      font-size: 20px;
      text-align: center; }

#features-counter .overlay {
  position: absolute;
  background-color: #585de9bf;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#features-features {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Nunito; }
  #features-features .features-content h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    height: 45px;
    margin-bottom: 10px; }
  #features-features .features-content p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px; }
  #features-features .features-directions .direction-button:hover::after {
    height: 120px;
    background: #585CE9; }
  #features-features .features-directions .direction-button:hover i {
    color: #fff;
    margin-left: 30px; }
  #features-features .features-directions .directions {
    padding-right: 15px; }
  #features-features .features-directions #padding-remover {
    padding-left: 0; }
  #features-features .features-directions .direction-button {
    position: relative;
    width: 100%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.88px;
    outline: none;
    overflow: hidden; }
    #features-features .features-directions .direction-button::after {
      content: '';
      width: 150px;
      position: absolute;
      height: 100px;
      left: -70px;
      top: 0px;
      background: #F7FAFD;
      transform: rotate(60deg);
      transition: all 0.3s ease 0s; }
    #features-features .features-directions .direction-button i {
      color: black;
      margin-left: 25px;
      margin-right: 37px;
      z-index: 2;
      transition: all 0.3s ease 0s;
      position: relative; }
    #features-features .features-directions .direction-button span {
      z-index: 2;
      transition: all 0.3s ease 0s;
      color: #3B566E; }
  #features-features #cloud-image {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 0.8s ease 0s; }
  #features-features .clouds {
    max-width: 100%;
    min-width: 100%;
    height: auto; }

@media only screen and (max-width: 992px) {
  .clouds {
    max-width: 100%; } }

.nav {
  background: #fff;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

#faqs-welcoming {
  padding-top: 100px; }
  #faqs-welcoming .about-us {
    padding-top: 90px;
    padding-bottom: 90px; }
  #faqs-welcoming .container-fluid {
    background-image: url(../media/images/backgrounds/2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    #faqs-welcoming .container-fluid h1 {
      font-weight: 400;
      font-size: 36px;
      height: 50px;
      line-height: 46px;
      letter-spacing: 1.4px;
      color: #E5E9F7;
      position: relative;
      z-index: 30;
      margin-bottom: 10px; }
      #faqs-welcoming .container-fluid h1::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 19px;
        height: 2px;
        background: #fff;
        border-radius: 100px; }
    #faqs-welcoming .container-fluid span {
      font-weight: 300;
      font-size: 14px;
      color: #E5E9F7;
      margin-left: 10px;
      position: relative;
      z-index: 30;
      cursor: pointer; }
      #faqs-welcoming .container-fluid span a {
        font-weight: 300;
        font-size: 14px;
        color: #E5E9F7; }
        #faqs-welcoming .container-fluid span a i {
          margin-left: 5px;
          transform: translateY(1.5px); }
  #faqs-welcoming .overlay {
    position: absolute;
    background-color: #585de9bf;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#faqs-asked {
  padding-top: 100px;
  padding-bottom: 70px;
  background: #F7FAFD; }
  #faqs-asked .faq {
    padding: 10px; }
    #faqs-asked .faq h2 {
      font-weight: 300;
      font-size: 30px;
      color: #585CE9;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    #faqs-asked .faq p {
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 28px;
      color: #6F8BA4;
      margin-bottom: 28px; }
  #faqs-asked .section-button {
    padding: 15px 25px; }
    #faqs-asked .section-button:hover {
      background: #4146e6; }

.accordion {
  transition: 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px; }
  .accordion .accordionheader {
    cursor: pointer;
    font-size: 15px;
    padding: 20px;
    letter-spacing: 2px;
    color: #3b566e;
    overflow: hidden;
    transition: 0.3s;
    font-weight: 300; }
    .accordion .accordionheader:hover {
      transform: translateX(10px);
      background-color: #f7fafd49; }
  .accordion .accordionbody {
    display: none; }
    .accordion .accordionbody .body {
      padding: 30px;
      padding-left: 35px;
      padding-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      color: #6F8BA4;
      line-height: 28px;
      letter-spacing: 1px;
      border-top: 1px solid #F3F8FF; }
    .accordion .accordionbody p {
      margin-bottom: 14px;
      font-weight: 200;
      font-size: 14px;
      letter-spacing: .88px;
      line-height: 28px; }

@media only screen and (max-width: 576px) {
  p {
    text-align: center; } }

#faqs-features {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Nunito; }
  #faqs-features .features-content h2 {
    font-weight: 300;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    height: 45px;
    margin-bottom: 10px; }
  #faqs-features .features-content p {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px; }
  #faqs-features .features-directions .direction-button:hover::after {
    height: 120px;
    background: #585CE9; }
  #faqs-features .features-directions .direction-button:hover i {
    color: #fff;
    margin-left: 30px; }
  #faqs-features .features-directions .directions {
    padding-right: 15px; }
  #faqs-features .features-directions #padding-remover {
    padding-left: 0; }
  #faqs-features .features-directions .direction-button {
    position: relative;
    width: 100%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.88px;
    outline: none;
    overflow: hidden; }
    #faqs-features .features-directions .direction-button::after {
      content: '';
      width: 150px;
      position: absolute;
      height: 100px;
      left: -70px;
      top: 0px;
      background: #F7FAFD;
      transform: rotate(60deg);
      transition: all 0.3s ease 0s; }
    #faqs-features .features-directions .direction-button i {
      color: black;
      margin-left: 25px;
      margin-right: 37px;
      z-index: 2;
      transition: all 0.3s ease 0s;
      position: relative; }
    #faqs-features .features-directions .direction-button span {
      z-index: 2;
      transition: all 0.3s ease 0s;
      color: #3B566E; }
  #faqs-features #cloud-image {
    opacity: 0;
    transform: translateX(-20%);
    transition: all 0.8s ease 0s; }
  #faqs-features .clouds {
    max-width: 100%;
    min-width: 100%;
    height: auto; }

@media only screen and (max-width: 992px) {
  .clouds {
    max-width: 100%; } }

.nav {
  background: #fff;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

#blog-welcoming {
  padding-top: 100px; }
  #blog-welcoming .about-us {
    padding-top: 90px;
    padding-bottom: 90px; }
  #blog-welcoming .container-fluid {
    background-image: url(../media/images/backgrounds/2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    #blog-welcoming .container-fluid h1 {
      font-weight: 400;
      font-size: 36px;
      height: 50px;
      line-height: 46px;
      letter-spacing: 1.4px;
      color: #E5E9F7;
      position: relative;
      z-index: 30;
      margin-bottom: 10px; }
      #blog-welcoming .container-fluid h1::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 19px;
        height: 2px;
        background: #fff;
        border-radius: 100px; }
    #blog-welcoming .container-fluid span {
      font-weight: 300;
      font-size: 14px;
      color: #E5E9F7;
      margin-left: 10px;
      position: relative;
      z-index: 30;
      cursor: pointer; }
      #blog-welcoming .container-fluid span a {
        font-weight: 300;
        font-size: 14px;
        color: #E5E9F7; }
        #blog-welcoming .container-fluid span a i {
          margin-left: 5px;
          transform: translateY(1.5px); }
  #blog-welcoming .overlay {
    position: absolute;
    background-color: #585de9bf;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#blog-bottom {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 70px; }
  #blog-bottom .comment-card {
    padding: 15px; }
  #blog-bottom .cntct-button {
    width: 160px;
    margin: auto;
    display: inline-block;
    height: 44px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    color: #585CE9;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
    z-index: 50; }
    #blog-bottom .cntct-button:hover {
      background: #F7FAFD; }
  #blog-bottom .comment {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px; }
    #blog-bottom .comment .overlay {
      position: absolute;
      background-color: #585de9bf;
      z-index: 20;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    #blog-bottom .comment .card-image {
      height: 400px;
      position: relative; }
      #blog-bottom .comment .card-image .date {
        position: absolute;
        bottom: 0;
        margin-bottom: 4px;
        color: #fff;
        z-index: 30;
        font-size: 14px; }
        #blog-bottom .comment .card-image .date span {
          font-weight: lighter; }
      #blog-bottom .comment .card-image::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 30px;
        bottom: 0;
        z-index: 1;
        background: #000;
        border-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        opacity: 0.3; }
      #blog-bottom .comment .card-image img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        object-fit: cover; }
    #blog-bottom .comment .border-2 {
      background-image: url(../media/images/backgrounds/aboutus2.jpeg);
      background-size: cover;
      border-radius: 5px;
      position: relative; }
      #blog-bottom .comment .border-2 p {
        padding: 55px 24px;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        z-index: 50;
        position: static; }
      #blog-bottom .comment .border-2::before {
        width: 100%;
        height: 100%;
        border-radius: 5px; }
    #blog-bottom .comment .card-body {
      padding: 25px; }
      #blog-bottom .comment .card-body .body-social {
        margin: 10px 0; }
        #blog-bottom .comment .card-body .body-social li {
          font-size: 14px;
          margin: 0 15px; }
          #blog-bottom .comment .card-body .body-social li a {
            color: #585CE9; }
          #blog-bottom .comment .card-body .body-social li i {
            margin-right: 5px; }
      #blog-bottom .comment .card-body .body-direction {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 1px;
        transition: all 0.3s ease 0s;
        margin-bottom: 10px; }
        #blog-bottom .comment .card-body .body-direction a {
          color: #3B566E; }
        #blog-bottom .comment .card-body .body-direction:hover a {
          color: #585CE9; }
      #blog-bottom .comment .card-body .body-content {
        font-weight: 300;
        font-size: 14px;
        color: #6F8BA4;
        letter-spacing: 1px;
        margin-bottom: 30px; }
      #blog-bottom .comment .card-body .button .section-button {
        margin-bottom: 10px; }
        #blog-bottom .comment .card-body .button .section-button:hover {
          background-color: #4146e6; }
  #blog-bottom .lines {
    padding: 15px;
    position: relative; }
    #blog-bottom .lines input {
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      height: 50px;
      outline: none;
      padding-left: 20px;
      padding-right: 50px;
      border-radius: 4px;
      background: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: all 0.2s; }
      #blog-bottom .lines input:focus {
        border: 1px solid #585CE9;
        padding-left: 30px; }
    #blog-bottom .lines button {
      position: absolute;
      right: 25px;
      top: 22px;
      height: 35px;
      width: 35px;
      border: none;
      background-image: linear-gradient(127deg, #585CE9 0%, #5C83E3 91%);
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      text-align: center; }
      #blog-bottom .lines button i {
        color: #fff; }
    #blog-bottom .lines .parts {
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 5px; }
      #blog-bottom .lines .parts li:hover i {
        margin-right: 40px; }
      #blog-bottom .lines .parts a {
        border-bottom: 1px solid #ECF7FF;
        line-height: 50px;
        padding-left: 25px;
        position: relative;
        font-weight: 400;
        font-size: 14px;
        color: #3B566E;
        letter-spacing: 1px;
        transition: all 0.3s ease 0s; }
        #blog-bottom .lines .parts a i {
          margin-right: 25px;
          transition: 0.2s; }
      #blog-bottom .lines .parts span:nth-child(2) {
        margin-right: 20px;
        background: #585CE9;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
        color: #fff;
        border-radius: 100px; }
  #blog-bottom .place {
    padding: 19px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px; }
    #blog-bottom .place a {
      margin-right: 10px;
      margin-bottom: 10px;
      background: #f5f5f5;
      padding: 5px 15px;
      font-weight: 400;
      font-size: 14px;
      color: #3B566E;
      border-radius: 4px;
      transition: all 0.3s ease 0s; }
      #blog-bottom .place a:hover {
        background: #585CE9;
        color: #fff; }
  #blog-bottom .col-4 .card-image {
    height: 100%; }

.nav {
  background: #fff;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

#contact-welcoming {
  padding-top: 100px; }
  #contact-welcoming .about-us {
    padding-top: 90px;
    padding-bottom: 90px; }
  #contact-welcoming .container-fluid {
    background-image: url(../media/images/backgrounds/2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative; }
    #contact-welcoming .container-fluid h1 {
      font-weight: 400;
      font-size: 36px;
      height: 50px;
      line-height: 46px;
      letter-spacing: 1.4px;
      color: #E5E9F7;
      position: relative;
      z-index: 30;
      margin-bottom: 10px; }
      #contact-welcoming .container-fluid h1::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 19px;
        height: 2px;
        background: #fff;
        border-radius: 100px; }
    #contact-welcoming .container-fluid span {
      font-weight: 300;
      font-size: 14px;
      color: #E5E9F7;
      margin-left: 10px;
      position: relative;
      z-index: 30;
      cursor: pointer; }
      #contact-welcoming .container-fluid span a {
        font-weight: 300;
        font-size: 14px;
        color: #E5E9F7; }
        #contact-welcoming .container-fluid span a i {
          margin-left: 5px;
          transform: translateY(1.5px); }
  #contact-welcoming .overlay {
    position: absolute;
    background-color: #585de9bf;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#contact-form {
  background: #F7FAFD; }
  #contact-form .container {
    border-top: 1px solid #f5f5f5;
    padding-top: 55px;
    padding-bottom: 40px; }
  #contact-form hr {
    color: #f5f5f5; }
  #contact-form #form-text {
    padding: 0 15px; }
  #contact-form .form .items {
    padding: 0 15px; }
    #contact-form .form .items input {
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      height: 50px;
      outline: none;
      padding-left: 20px;
      padding-right: 50px;
      border: 1px solid #eee;
      border-radius: 4px;
      background: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: all 0.2s;
      margin-bottom: 30px; }
      #contact-form .form .items input:focus {
        border: 1px solid #585CE9;
        padding-left: 30px; }
    #contact-form .form .items textarea {
      height: 150px;
      resize: none;
      padding: 20px;
      border: 1px solid #eee;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      transition: all 0.3s ease 0s;
      border-radius: 4px;
      margin-bottom: 30px; }
      #contact-form .form .items textarea:focus {
        border: 1px solid #585CE9;
        padding-left: 30px; }
    #contact-form .form .items button {
      width: 160px;
      line-height: 44px;
      text-align: center;
      border: none;
      border-radius: 5px;
      background: #585CE9;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 12px;
      color: #fff;
      letter-spacing: 1px;
      transition: all 0.3s ease 0s;
      outline: none;
      cursor: pointer; }
      #contact-form .form .items button:hover {
        background-color: #4146e6; }
  #contact-form .form h5 {
    font-size: 20px;
    font-weight: 300;
    color: #6F8BA4;
    margin-bottom: 30px; }
  #contact-form .form p {
    margin-bottom: 28px;
    color: #6F8BA4;
    font-weight: 300;
    font-size: 14px; }

@media only screen and (max-width: 576px) {
  #contact-map {
    text-align: center; } }

#contact-map {
  background: #F7FAFD;
  padding-top: 100px;
  padding-bottom: 70px; }
  #contact-map #map {
    height: 500px;
    border-radius: 7px;
    width: 100%; }
  #contact-map .section {
    position: relative;
    z-index: 2;
    margin-top: -90px;
    background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    padding-bottom: 10px; }
    #contact-map .section ul {
      margin-top: 30px;
      margin-bottom: 20px; }
      #contact-map .section ul li {
        font-size: 22px;
        margin: 0 7px; }
        #contact-map .section ul li a {
          color: #fff; }
  #contact-map .location i {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 7px; }
  #contact-map .location span {
    color: #fff;
    font-weight: 300;
    font-size: 14px; }

footer {
  background-color: #585CE9;
  padding-top: 70px;
  font-family: Nunito;
  color: #fff; }
  footer .footer-logo {
    margin-bottom: 30px; }
  footer .navbar-text-content {
    font-weight: 300;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 1.88px;
    margin-bottom: 30px; }
  footer h5 {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.69px;
    line-height: 30px;
    margin-bottom: 30px; }
  footer p {
    display: block;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    color: #E5E9F7;
    line-height: 26px;
    letter-spacing: 0.88px;
    margin-bottom: 5px; }
    footer p a {
      color: #E5E9F7;
      display: block;
      overflow: hidden; }
  footer li i {
    line-height: 32px;
    margin-right: 12px;
    font-size: 14px;
    color: #fff; }
  footer li span {
    line-height: 32px;
    font-weight: 300;
    font-size: 14px;
    color: #E5E9F7;
    transition: all 0.3s ease 0s; }
  footer li:hover span {
    margin-left: 5px; }
  footer .footer-content {
    padding: 0 15px; }
  footer .col-12 p {
    text-align: center;
    border-top: 1px solid #777BFF;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
    color: #E5E9F7;
    letter-spacing: 0.88px; }

.navbar {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s; }
  .navbar .row {
    position: relative; }
  .navbar #nav-list-ul .nav-list-items {
    font-family: Nunito;
    padding: 0 20px;
    line-height: 40px;
    transition: 0.3s; }
    .navbar #nav-list-ul .nav-list-items:hover .nav-list-items-links {
      color: #585CE9; }
    .navbar #nav-list-ul .nav-list-items .nav-list-items-links {
      color: #6F8BA4;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1px; }
    .navbar #nav-list-ul .nav-list-items i {
      transform: translate(7px, 2px);
      color: #6F8BA4; }
  .navbar #nav-list-ul .submenu {
    position: relative; }
    .navbar #nav-list-ul .submenu .submenu-list {
      position: absolute;
      width: 200px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
      top: 40px;
      transform: translateY(-2em);
      visibility: hidden;
      opacity: 0;
      background-color: #fff;
      z-index: -1; }
      .navbar #nav-list-ul .submenu .submenu-list .submenu-list-items {
        padding-left: 20px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        border-bottom: 1px solid #f5f5f5;
        letter-spacing: 1px;
        transition: all 0.15s ease 0s; }
        .navbar #nav-list-ul .submenu .submenu-list .submenu-list-items a {
          color: #3B566E; }
        .navbar #nav-list-ul .submenu .submenu-list .submenu-list-items:hover {
          background-color: #f5f5f5;
          border-left: 3px solid #585CE9; }
          .navbar #nav-list-ul .submenu .submenu-list .submenu-list-items:hover a {
            transform: translateX(25px); }
    .navbar #nav-list-ul .submenu:hover .submenu-list {
      transform: translateY(0%);
      visibility: visible;
      z-index: 1;
      opacity: 1;
      transition-delay: 0s, 0s, 0.3s; }
  .navbar .auth-list-items .auth-list-items-links {
    border: 1px solid #585CE9;
    color: #585CE9;
    border-radius: 5px;
    padding: 7px 25px;
    font-family: Nunito;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.3s ease 0s; }
    .navbar .auth-list-items .auth-list-items-links:hover {
      background-color: #585CE9;
      color: #fff; }
  .navbar .auth-list-items:nth-child(2) .auth-list-items-links {
    transition: all 0.3s ease 0s;
    margin-left: 15px;
    background-color: #585CE9;
    color: #fff; }
    .navbar .auth-list-items:nth-child(2) .auth-list-items-links:hover {
      background-color: #fff;
      color: #585CE9; }
  .navbar .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer; }
    .navbar .hamburger-menu span {
      background-color: #3B566E;
      width: 30px;
      height: 2px;
      margin: 4px 0;
      transition: all 0.4s;
      display: inline-block; }
    .navbar .hamburger-menu .hamburger-bread {
      width: 75%; }

.sticky {
  background: #fff;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

@media only screen and (max-width: 992px) {
  .nav-left-side .nav-list,
  .auth-list,
  .nav-options .nav-list {
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    .nav-left-side .nav-list .nav-list-items,
    .auth-list .nav-list-items,
    .nav-options .nav-list .nav-list-items {
      transition: all 0.3s; }
      .nav-left-side .nav-list .nav-list-items:hover,
      .auth-list .nav-list-items:hover,
      .nav-options .nav-list .nav-list-items:hover {
        background-color: #f5f5f5; }
  .nav-left-side {
    width: unset; }
  .navbar .custom-container .row .hamburger-menu {
    display: flex; }
  #nav-list-ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    height: 50px;
    align-items: center; }
    #nav-list-ul li i {
      display: flex;
      align-items: center; }
    #nav-list-ul li a {
      color: #0019; }
  #first-submenu,
  #second-submenu {
    transform: unset;
    opacity: 0;
    visibility: hidden;
    transition-delay: unset;
    width: 100% !important;
    left: 0; } }

@media only screen and (min-width: 992px) {
  #nav-list-ul {
    display: flex !important;
    background-color: unset !important; } }
