.navbar {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s;

    .row {
        position: relative;
    }

    #nav-list-ul {
        .nav-list-items {
            font-family: $navbar-fonts;
            padding: 0 20px;
            line-height: 40px;
            transition: 0.3s;

            &:hover .nav-list-items-links {
                color: $main-color;
            }

            .nav-list-items-links {
                color: $font-color;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 1px;

            }

            i {
                transform: translate(7px, 2px);
                color: $font-color;
            }
        }

        .submenu {
            position: relative;

            .submenu-list {
                position: absolute;
                width: 200px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                border-radius: 5px;
                overflow: hidden;
                transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                top: 40px;
                transform: translateY(-2em);
                visibility: hidden;
                opacity: 0;
                background-color: #fff;
                z-index: -1;

                .submenu-list-items {
                    padding-left: 20px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 13px;
                    border-bottom: 1px solid #f5f5f5;
                    letter-spacing: 1px;
                    transition: all 0.15s ease 0s;

                    a {
                        color: $second-font-color;
                    }

                    &:hover {
                        background-color: #f5f5f5;
                        border-left: 3px solid $main-color;

                        a {
                            transform: translateX(25px);
                        }
                    }
                }
            }

            &:hover {
                .submenu-list {
                    transform: translateY(0%);
                    visibility: visible;
                    z-index: 1;
                    opacity: 1;
                    transition-delay: 0s, 0s, 0.3s;
                }
            }
        }
    }

    .auth-list {
        &-items {
            .auth-list-items-links {
                border: 1px solid $main-color;
                color: $main-color;
                border-radius: 5px;
                padding: 7px 25px;
                font-family: $navbar-fonts;
                letter-spacing: 0.5px;
                font-size: 12px;
                font-weight: 400;
                transition: all 0.3s ease 0s;

                &:hover {
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }

        &-items:nth-child(2) {
            .auth-list-items-links {
                transition: all 0.3s ease 0s;
                margin-left: 15px;
                background-color: $main-color;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: $main-color;
                }
            }
        }
    }

    .hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            background-color: $second-font-color;
            width: 30px;
            height: 2px;
            margin: 4px 0;
            transition: all 0.4s;
            display: inline-block;
        }

        .hamburger-bread {
            width: 75%;
        }
    }
}

.sticky {
    background: #fff;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 992px) {

    .nav-left-side .nav-list,
    .auth-list,
    .nav-options .nav-list {
        display: none;
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .nav-list-items {
            transition: all 0.3s;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    .nav-left-side {
        width: unset;
    }

    .navbar .custom-container .row .hamburger-menu {
        display: flex;
    }

    #nav-list-ul {
        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #f5f5f5;
            height: 50px;
            align-items: center;

            i {
                display: flex;
                align-items: center;
            }

            a {
                color: #0019;
            }
        }
    }

    #first-submenu,
    #second-submenu {
        transform: unset;
        opacity: 0;
        visibility: hidden;
        transition-delay: unset;
        width: 100% !important;
        left: 0;
    }
}

@media only screen and (min-width: 992px) {
    #nav-list-ul {
        display: flex !important;
        background-color: unset !important;
    }
}