#home-our-teams {
    padding-bottom: 80px;
    padding-top: 100px;

    .content-header {
        h2 {
            font-weight: 300;
            font-size: 28px;
            color: $second-font-color;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            font-weight: 300;
            font-size: 16px;
            color: $font-color;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
    }

    .card {
        box-shadow: rgba(100, 100, 111, 0.13) 0px 7px 29px 0px;
        border-radius: 5px;
        position: relative;
        margin: 12px;

        .card-body {
            text-align: center;
            overflow: hidden;

            .personal-info {
                margin-bottom: 30px;
                padding-top: 10px;
                padding-bottom: 10px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
                    height: 68px;
                    // z-index: 1;
                    transition: all 0.4s ease 0s;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }

            .text-content {
                font-weight: 300;
                font-size: 14px;
                color: $font-color;
                letter-spacing: 1px;
                line-height: 26px;
                margin-bottom: 60px;
            }

            .name {
                font-size: 16px;
                color: #fff;
                margin-top: 5px;
                font-weight: 300;
                position: relative;
            }

            .job {
                position: relative;
                font-weight: 300;
                font-size: 12px;
                color: #E5E9F7;
            }


        }

        .social {
            margin-bottom: 15px;
        }

        .social-icons {
            position: relative;

            a {
                color: $main-color;
                transition: all 0.4s ease 0s;
            }
        }

        .col-10 {
            margin: 0 auto;
        }

        .person {
            width: 96px;
            height: 96px;
            border: 6px solid #fff;
            overflow: hidden;
            border-radius: 100%;
            position: absolute;
            left: 0px;
            right: 0px;
            margin: auto;
            bottom: -45px;
            transition: all 0.4s ease 0s;
            box-shadow: rgba(100, 100, 111, 0.13) 0px 7px 29px 0px;
        }
        &:hover .personal-info::before {
            height: 125px;
        }

        &:hover {
            .social-icons {
                a {
                    color: white;
                }
            }
        }

        &:hover {
            .person {
                bottom: -55px;
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .card-col{
        margin-bottom: 100px;
    }
}