@import "../main/navMain";

#home-welcoming {
    font-family: $navbar-fonts;
    padding-top: 150px;
    padding-bottom: 100px;
    background: url(../media/images/backgrounds/header-bg.svg) top left no-repeat;

    .config {
        overflow: hidden;
        border-radius: 5px;
        margin: 6px;
    }

    .first-picture-div,
    .second-picture-div,
    .third-picture-div,
    .fourth-picture-div {
        &:hover img {
            transform: scale(1.1);
        }
    }

    .cart-first-image,
    .cart-second-image,
    .cart-third-image,
    .cart-fourth-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }

    .first-picture-div {
        width: 100%;
        height: 332px;
        margin-bottom: 9px;
        overflow: hidden;
    }

    .second-picture-div {
        margin-bottom: 9px;
        width: 100%;
        height: 251px;
        overflow: hidden;
    }

    .third-picture-div {
        overflow: hidden;
        width: 100%;
        height: 200px;
        position: relative;

        .play {
            position: absolute;
            width: 100%;
            top: 48%;
            left: 0px;
            transform: perspective(1px) translateY(-45%);
            z-index: 4;
            right: 0px;

            a {
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 22px;
                color: #fff;
                margin: auto;
                left: 0px;
                right: 0px;
                display: block;
                border: 1px solid #fff;
                border-radius: 100px;
                position: absolute;
                overflow: hidden;
                top: 50%;
                transform: perspective(1px) translateY(-50%);
                z-index: 3;

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    background: #fff;
                    opacity: .25;
                    z-index: 1;
                }

                i {
                    padding-left: 5px;
                    position: relative;
                    z-index: 2;
                }

                &:hover .cart {
                    transform: scale(1.1);
                }
            }
        }
    }

    .fourth-picture-div {
        overflow: hidden;
        width: 100%;
        height: 281px;
        position: relative;

        .overlay {
            position: absolute;
            background-color: #585de9bf;
            z-index: 20;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            .text {
                margin: 0 15px;

                strong {
                    display: block;
                    color: #fff;
                    font-weight: 300;
                    font-size: 14px;
                    letter-spacing: 0.88px;
                    margin-bottom: 10px;
                }

                p {
                    display: block;
                    color: #fff;
                    font-weight: 300;
                    font-size: 18px;
                    letter-spacing: 1.12px;
                    line-height: 28px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }
        }
    }

    .welcoming-head-content {
        h1 {
            font-weight: 300;
            font-size: 28px;
            color: #1E3056;
            line-height: 46px;
            letter-spacing: 0.93px;
            margin-bottom: 20px;

            span {
                color: $main-color;
            }
        }
    }

    .welcoming-text-content {
        p {
            font-weight: 300;
            font-size: 16px;
            color: #697BA2;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 40px;
        }

        position: relative;
    }

    .learn-more-button {
        width: 170px;
        margin: auto;
        display: inline-block;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border: none;
        border-radius: 5px;
        background: $main-color;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.75px;
        transition: all 0.3s ease 0s;

        &:hover {
            background: $hover-color;
        }
    }
}