@import "../main/navMain";

#home-welcoming {
    font-family: $navbar-fonts;
    padding-top: 150px;
    padding-bottom: 100px;
    background: url(../media/images/backgrounds/header-bg.svg) top left no-repeat;

    .config {
        overflow: hidden;
        border-radius: 5px;
        margin: 6px;
    }

    .first-picture-div,
    .second-picture-div,
    .third-picture-div,
    .fourth-picture-div {
        img{
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .cart-first-image,
    .cart-second-image,
    .cart-third-image,
    .cart-fourth-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }

    .first-picture-div {
        width: 100%;
        height: 332px;
        margin-bottom: 9px;
        overflow: hidden;
    }

    .second-picture-div {
        margin-bottom: 9px;
        width: 100%;
        height: 251px;
        overflow: hidden;
    }

    .third-picture-div {
        overflow: hidden;
        width: 100%;
        height: 200px;
    }

    .fourth-picture-div {
        overflow: hidden;
        width: 100%;
        height: 281px;
    }

    .welcoming-head-content {
        h1 {
            font-weight: 300;
            font-size: 28px;
            color: #1E3056;
            line-height: 46px;
            letter-spacing: 0.93px;
            margin-bottom: 20px;

            span {
                color: $main-color;
            }
        }
    }

    .welcoming-text-content {
        p {
            font-weight: 300;
            font-size: 16px;
            color: #697BA2;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 40px;
        }

        position: relative;
    }

    .learn-more-button {
        width: 170px;
        margin: auto;
        display: inline-block;
        height: 44px;
        line-height: 44px;
        text-align: center;
        border: none;
        border-radius: 5px;
        background: $main-color;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.75px;
        transition: all 0.3s ease 0s;

        &:hover {
            background: $hover-color;
        }
    }
}